# 데이터 구조

## 7장 리스트와 튜플

In [13]:
a = [1, 2, 3, 4, 5]
type(a)

list

In [2]:
a[5]

IndexError: list index out of range

In [3]:
a[-1]

5

In [14]:
a[3] = 8
print(a)

[1, 2, 3, 8, 5]

In [5]:
b = (1,2,3,4,5)
type(b)

tuple

In [6]:
b(3)

TypeError: 'tuple' object is not callable

In [7]:
b[4]

5

In [8]:
b[3] = 8

TypeError: 'tuple' object does not support item assignment

In [15]:
a.append(6)
a

[1, 2, 3, 8, 5, 6]

In [16]:
a.append([7,8])
a

[1, 2, 3, 8, 5, 6, [7, 8]]

In [17]:
c = [9, 10]
a.extend(c)

In [18]:
a

[1, 2, 3, 8, 5, 6, [7, 8], 9, 10]

In [21]:
d = [11, 12]

In [22]:
a + d

[1, 2, 3, 8, 5, 6, [7, 8], 9, 10, 11, 12]

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [45]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [50]:
a = list(range(1,10))

In [51]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
#a[포함:불포함]
a[3:5]

[4, 5]

In [55]:
a[1:-2]

[2, 3, 4, 5, 6, 7]

In [56]:
a[2:8:2]

[3, 5, 7]

In [57]:
a[3:]

[4, 5, 6, 7, 8, 9]

In [58]:
a[:3]

[1, 2, 3]

In [59]:
a = [1,2,3,4,5]
a[1:4] = ["a","b","c"]
a

[1, 'a', 'b', 'c', 5]

In [60]:
a[1:4] = ['d','e']
a

[1, 'd', 'e', 5]

In [61]:
del a[2]
a

[1, 'd', 5]

In [62]:
del a[1:3]
a

[1]

In [63]:
a = list(range(1,10))

In [64]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
del a[1:5]
a

[1, 6, 7, 8, 9]

In [66]:
2 in a

False

In [78]:
6 in a

True

### 실습 01

In [81]:
us_num = int(input("숫자를 입력해 주세요: "))
us_list = list(range(2, us_num+1, 2)) + [us_num]
us_list

숫자를 입력해 주세요: 23

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 23]

In [82]:
us_num = int(input("숫자를 입력해 주세요: "))
us_list = list(range(2, us_num+1, 2))
us_list.append(us_num)
us_list

숫자를 입력해 주세요: 23

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 23]

## 8. 딕셔너리

In [85]:
score = {"name" : "Tom" , "math": 30, "english":100}
score

{'name': 'Tom', 'math': 30, 'english': 100}

In [86]:
score['name']

'Tom'

In [87]:
score["name"] = "michale"
score["name"]

'michale'

In [88]:
type(score)

dict

In [92]:
score = dict()#빈 딕셔너리
score

{}

In [109]:
score = dict(name = "Michale", math = 20, english = 80)
score

{'name': 'Michale', 'math': 20, 'english': 80}

In [102]:
'name' in score

True

In [114]:
score['age'] = 20
score

{'math': 20, 'english': 80, 'age': 20}

In [115]:
score["math"] = 90
score

{'math': 90, 'english': 80, 'age': 20}

In [105]:
score.pop('name')

'Michale'

In [111]:
score.pop("name", "없음") #있으면 앞, 없으면 뒤

'없음'

In [116]:
score.keys()

dict_keys(['math', 'english', 'age'])

In [119]:
list(score.keys())

['math', 'english', 'age']

In [120]:
list(score.keys())[0:2]

['math', 'english']

In [123]:
list(score.values())

[90, 80, 20]

In [124]:
list(score.items())

[('math', 90), ('english', 80), ('age', 20)]

## 실습02

## (1)

In [128]:
us_name = input("이름을 입력해주세요 : ")
us_age = input("나이를 입력해주세요 : ")
us_number = input("연락처를 입력해주세요 : ")

us_info = dict(이름 = us_name, 나이 = us_age, 연락처 = us_number)
us_info

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-1234-5678

{'이름': '홍길동', '나이': '27', '연락처': '010-1234-5678'}

## (2)

In [139]:
us_name1 = input("이름을 입력해주세요 : ")
us_age1 = input("나이를 입력해주세요 : ")
us_number1 = input("연락처를 입력해주세요 : ")
us_info1 = dict(이름 = us_name1, 나이 = us_age1, 연락처 = us_number1)

us_name2 = input("이름을 입력해주세요 : ")
us_age2 = input("나이를 입력해주세요 : ")
us_number2 = input("연락처를 입력해주세요 : ")
us_info2 = dict(이름 = us_name2, 나이 = us_age2, 연락처 = us_number2)

#us_list = list(us_info1.items()) + list(us_info2.items())

us_list = [us_info1, us_info2]

us_list

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-1234-5443
이름을 입력해주세요 : 이몽룡
나이를 입력해주세요 : 30
연락처를 입력해주세요 : 010-2323-2323

[{'이름': '홍길동', '나이': '27', '연락처': '010-1234-5443'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-2323-2323'}]

# 9 세트

### 중복 허용x, 순서 상관 없음

In [140]:
animal = {"dog","cat","monky","horse"}
animal

{'cat', 'dog', 'horse', 'monky'}

In [142]:
'cat' in animal

True

In [144]:
a = set("animal")
a

{'a', 'i', 'l', 'm', 'n'}

In [145]:
a = {1,2,3}
b = {3,4,5}
a|b

{1, 2, 3, 4, 5}

In [146]:
set.union(a,b)

{1, 2, 3, 4, 5}

In [147]:
a&b

{3}

In [148]:
set.intersection(a,b)

{3}

In [149]:
#차집합
a-b

{1, 2}

In [152]:
set.difference(b,a)

{4, 5}

# 10 조건문

In [160]:
x = 20

if x == 10:
    print("x is 10")
elif x == 20:
    print("x is 20")
else:
    print("x is not 10")

x is 20

## 실습3

In [171]:
scr1 = int(input("첫번째 숫자를 입력해주세요 :"))
scr2 = int(input("두번째 숫자를 입력해주세요 :"))
scr3 = int(input("셋번째 숫자를 입력해주세요 :"))

if 0<=scr1<=100 and 0<=scr2<=100 and 0<=scr3<=100 :
    if scr1 >65 and scr2 >65 and scr3 >65 :
        print("pass")
    else:
        print("fail")
else:
    print("잘못된 점수가 입력되었습니다.")

첫번째 숫자를 입력해주세요 :12
두번째 숫자를 입력해주세요 :123
셋번째 숫자를 입력해주세요 :0
잘못된 점수가 입력되었습니다.

## 실습4

In [194]:
fruit = ["사과","오렌지"]
vegetable = ["당근","호박"]

ct = input("등록할 카테고리를 선택해 주세요(과일, 채소) :")
us_things = input("등록할 {}를 입력해주세요 : ".format(ct))


if ct == "채소":
    if us_things in vegetable:
        print("이미 등록된 채소 입니다.")
    else:
        vegetable.append(us_things)
        print(vegetable)
elif ct == "과일":
    if us_things in fruit:
        print("이미 등록된 과일 입니다.")
    else:
        fruit.append(us_things)
        print(fruit)
        
else:
    print("존재하지 않는 카테고리입니다.")

등록할 카테고리를 선택해 주세요(과일, 채소) :채소
등록할 채소를 입력해주세요 : 당근
이미 등록된 채소 입니다.