# 실습 1

In [69]:
import numpy as np

x=[1,2,3,4,5,6,7,8,9]
y=[10,20,30,40,50,60,70,80,90]

x = np.array(x).reshape(3,3)
y = np.array(y).reshape(3,3)

print(x+y)
print(x.dot(y))

[[11 22 33]
 [44 55 66]
 [77 88 99]]
[[ 300  360  420]
 [ 660  810  960]
 [1020 1260 1500]]

# 실습2

In [70]:
x = np.linspace(1,20,30)
print(x + 10)

[11.         11.65517241 12.31034483 12.96551724 13.62068966 14.27586207
 14.93103448 15.5862069  16.24137931 16.89655172 17.55172414 18.20689655
 18.86206897 19.51724138 20.17241379 20.82758621 21.48275862 22.13793103
 22.79310345 23.44827586 24.10344828 24.75862069 25.4137931  26.06896552
 26.72413793 27.37931034 28.03448276 28.68965517 29.34482759 30.        ]

# 실습3

In [67]:
x = np.random.randint(1, 100,size = (2,10,10))
y = np.where(x>=50,1,2)
print(y[1][5:10,5:10])

[[1 1 2 1 1]
 [1 1 2 2 2]
 [2 2 1 2 1]
 [2 1 2 1 2]
 [1 1 2 1 1]]

In [72]:
import pandas as pd
import numpy as np

In [74]:
x= [1,2,3,4,5]
s = pd.Series(x)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [81]:
x = np.array([1,2,3,4,5])
s= pd.Series(x)
s

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [82]:
x[0]

1

In [83]:
x[1:3]

array([2, 3])

In [84]:
x[::-1]

array([5, 4, 3, 2, 1])

In [85]:
x[x>3]

array([4, 5])

In [86]:
x

array([1, 2, 3, 4, 5])

In [77]:
s2= pd.Series(x, index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [79]:
s2['a']

1

In [80]:
s2[0]

1

In [87]:
s2[1:3]

b    2
c    3
dtype: int32

In [88]:
s2['b':'d"']

b    2
c    3
d    4
dtype: int32

In [91]:
student_1={"수학":90,"영어":80,"과학":95,"미술":80}
student_2={"수학":70,"영어":90,"과학":100,"미술":70}

index_1=['홍길동'for i in range(len(student_1))]+['이몽룡'for i in range(len(student_2))]

index_2=[i for i in student_1]+[i for i in student_2]

value_all=list(student_1.values())+list(student_2.values())

students=pd.Series(value_all,index=[index_1,index_2])

In [92]:
students

홍길동  수학     90
     영어     80
     과학     95
     미술     80
이몽룡  수학     70
     영어     90
     과학    100
     미술     70
dtype: int64

In [93]:
x = pd.Series([1, 2, 3])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])

In [95]:
pd.concat([x, y, z])

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [96]:
pd.concat([x, y, z],ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [97]:
pd.concat([x, y, z],ignore_index=True,axis=1)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [99]:
x = pd.Series([1, 2, 3, 4])
y = pd.Series([5, 6, 7])
z = pd.Series([8, 9, 10])

pd.concat([x, y, z], axis=1)

   0    1     2
0  1  5.0   8.0
1  2  6.0   9.0
2  3  7.0  10.0
3  4  NaN   NaN

In [101]:
pd.concat([x, y, z], axis=1, join= 'inner' )

   0  1   2
0  1  5   8
1  2  6   9
2  3  7  10