### Exercise 38. 데이터 구조 (튜플)
* a, b, c, d, e를 저장하는 튜플을 만들고 첫 번째 튜플값과 마지막 번째 튜플값을 출력하세요.

In [3]:
tup = ("a","b","c","d","e")
print(tup[0],tup[4])

a e

### Exercise 39. 데이터 구조 (튜플)
* 다음 코드를 작성해서 실행해보고 에러가 나는 이유를 설명하세요.

  - 실행코드
    ```python
    tupledata = ('joy', 'abangers', 'endless')
    tupledata[0] = 'happy'
    ```
  - 에러
    ```python
    TypeError                                 Traceback (most recent call last)
    <ipython-input-2-db4a259aad24> in <module>()
          1 tupledata = ('joy', 'abangers', 'endless')
    ----> 2 tupledata[0] = 'happy'

    TypeError: 'tuple' object does not support item assignment
    ```

In [5]:
#튜블은 변경이 불가

### Exercise 40. 데이터 구조 (튜플)
* 다음 코드를 읽고, 최종적으로 var1과 var2의 값이 어떤 값이될지 확인해보고, 왜 이렇게 동작하는지 튜플을 기반으로 설명하세요.
  - 실행코드
    ```python
    var1, var2 = 1, 2
    var1, var2 = var2, var1
    ```

In [8]:
#두개 빠꿔서 var1 = 2, var2 =1 임

### Exercise 41. 데이터 구조 (튜플)
* 다음 코드에서 두번째 데이터부터 마지막 데이터를 다음과 같이 출력하세요

```python
tupledata = ('abangers1', 'abangers2', 'abangers3', 'abangers4', 'abangers5')
```

출력:<br>
('abangers2', 'abangers3', 'abangers4', 'abangers5')

In [10]:
tupledata = ('abangers1', 'abangers2', 'abangers3', 'abangers4', 'abangers5')

tupledata[1:5]

('abangers2', 'abangers3', 'abangers4', 'abangers5')

### Exercise 42. 데이터 구조 (튜플과 리스트)
* 다음 튜플 데이터를 리스트 데이터로 변환한 후에 'abangers4' 데이터를 마지막에 추가하고, 다시 튜플 데이터로 변환하세요.
```python
tupledata = ('abangers1', 'abangers2', 'abangers3')
```

In [19]:
tupledata = ('abangers1', 'abangers2', 'abangers3')

a = list(tupledata)
a.append("abangers4")
b= tuple(a)
print(b)

('abangers1', 'abangers2', 'abangers3', 'abangers4')

### Exercise 43. 데이터 구조 (튜플, 리스트, 딕셔너리)
* 비어 있는 튜플, 리스트, 딕셔너리 변수를 하나씩 각각 만드세요.

In [20]:
a=[]
b=()
c={}

### Exercise 44. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고, 딕셔너리 변수의 key 값인 영어단어, value 값인 의미 만을 가진 리스트 변수를 각각 만들고, 두 리스트 변수를 출력하세요.

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
</tr>
</tbody>
</table>

* 출력 예
<pre>
{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']
</pre>

In [31]:
user_dict = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
print(user_dict)
print(list(user_dict.keys()))
print(list(user_dict.values()))

{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']

### Exercise 45. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들어서 다음과 같이 출력하세요.
  - 단, 반복문을 사용하세요.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
</tr>
</tbody>
</table>

In [36]:
user_dict = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

for i in user_dict:
    print(i + " : " + user_dict[i])

environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴

### Exercise 46. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 외움표시가 X 인 영어단어만 출력하세요
  - 단, key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
<th>외움표시</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
<td>X</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
<td>O</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
<td>X</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
<td>X</td>
</tr>
</tbody>
</table>

* 출력 예
<pre>
environment
government
face
</pre>

In [39]:
user_dict = {'environment': ['환경',"X"], 'company': ['회사',"O"], 'government': ['정부, 정치', "X"], 'face': ['얼굴',"X"]}
for i in user_dict:
    if (user_dict[i][1]) == "X":
        print(i)

environment
government
face

### Exercise 47. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 사용자로부터 영어단어를 입력받으면 해당 영어단어의 외움표시를 O로 수정하고, 외움표시가 X 인 단어만 출력하는 프로그램을 작성하세요.
  - 단, key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
<th>외움표시</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
<td>X</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
<td>O</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
<td>X</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
<td>X</td>
</tr>
</tbody>
</table>

* 입력: government
* 출력
<pre>
environment
face
</pre>

In [42]:
user_dict = {'environment': ['환경',"X"], 'company': ['회사',"O"], 'government': ['정부, 정치', "X"], 'face': ['얼굴',"X"]}

user_txt = input("입력 : ")
for i in user_dict:
    if (i == user_txt):
        user_dict[i][1] = "O"
       
    
for i in user_dict:
    if (user_dict[i][1]) == "X":
        print(i)

입력 : government
environment
face

### Exercise 48. 데이터 구조 (딕셔너리)
* 다음 dict_all, dict2, dict3 딕셔너리 변수가 있을 때, dict2와 dict3 두 데이터를 dict_all 딕셔너리 변수에 추가한 후, dict_all 변수를 출력하세요.
```python
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}
```

In [48]:
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}

dict_all.update(dict2)
dict_all.update(dict3)

print(dict_all)

{'environment': '환경', 'gonernment': '정부, 정치', 'company': '회사', 'face': '얼굴', 'apple': '사과'}

### Exercise 49. 데이터 구조 (딕셔너리)
* 다음 actor_info 딕셔너리 변수를 만들고, 홈페이지, 배우 이름, 최근 출연 영화 갯수를 다음과 같이 출력하세요

```python
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}
```

* 출력 예:<br>
배우 이름: 마동석 <br>
홈페이지: https://www.instagram.com/madongseok <br>
출연 영화 갯수: 3 <br>

In [61]:
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}

print("배우 이름: {}\n홈페이지: {}\n출연 영화 갯수: {}".format(actor_info['actor_name'],actor_info["actor_details"]['홈페이지'],len(actor_info["movie_list"])))

배우 이름: 마동석
홈페이지: https://www.instagram.com/madongseok
출연 영화 갯수: 3

### Exercise 50.  데이터 구조 (집합)
number_list가 다음과 같은 리스트일 때 중복 숫자를 제거한 number_list1 집합을 만들고, 출력하세요
```python
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
```

In [65]:
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
number_list1 = list(set(number_list))
print(number_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 51.  데이터 구조 (집합)
number_list2에 다음과 같은 데이터를 순서대로 추가하고, 제거하세요
```python
선언: [1, 2, 3]
추가: 4
추가(업데이트): [5, 6]
제거: 2
```

In [74]:
number_list2 = [1, 2, 3]
number_list2.append(4)
number_list2.extend([5,6])
number_list2.remove(2)
print(number_list2)

[1, 3, 4, 5, 6]

### Exercise 52.  데이터 구조 (집합)
number_list1과 number_list2의 교집합, 차집합을 출력하세요

In [80]:
print("교집합 : {}".format(list(set(number_list1).intersection(set(number_list2)))))
print("차집합 : {}".format(list(set(number_list1).difference(set(number_list2)))))

교집합 : [1, 3, 4, 5, 6]
차집합 : [2, 7, 8, 9, 10]